/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    line-height: 80px;
    padding: 10px 0px 0 20px;
    background-color: white;
    margin-bottom: 10px;
}

body{
    background-color: #f4f4f4;
    width: auto;
}

.logo{
    width: 70px;
    vertical-align: middle;
}

.title{
    display: inline;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 50px;
}    

.conteiner{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    margin-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.nav{
    padding: 20px 0 20px 50px;
    border-bottom: 2px solid #f4f4f4;
}

.article{
    padding-left: 50px;
    font-size: 22px;
}

.task{
    border: 1px solid #63aafc;
    background-color: #63aafc ;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.section{
    border: 1px solid #d8d8d8;
    color: #d8d8d8;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.section:hover{
    background-color: #7db6f6;
}

.task:hover{
    background-color: #7db6f6;
}

.section-list{
    padding-top: 20px;

}

ul{
   list-style: none; 
}

.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 65%;
    padding: 3px;
    font-size: 10px;
}

.cross{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 65%;
    font-size: 20px;
}

.list-task{
    padding-top: 10px;
}

.badge-blue{
    border: 3px solid #7db6f6;
    background-color: #7db6f6;
    border-radius: 15px;
    padding: 2px;
    font-size: 13px;
    color: white;
}

.badge-violet{
    border: 3px solid #9b7df6;
    background-color: #9b7df6;
    border-radius: 15px;
    padding: 2px;
    font-size: 13px;
    color: white;
}

.badge-green{
    border: 3px solid #9ff67d;
    background-color: #9ff67d;
    border-radius: 15px;
    padding: 2px;
    font-size: 13px;
    color: white;
}

.badge-orange{
    border: 3px solid #f6c27d;
    background-color: #f6c27d;
    border-radius: 15px;
    padding: 2px;
    font-size: 13px;
    color: white;
}

.badge-pink{
    border: 3px solid #ff93a5;
    background-color: #ff93a5;
    border-radius: 15px;
    padding: 2px;
    font-size: 13px;
    color: white;
}

.badge-gold{
    border: 3px solid gold;
    background-color: gold;
    border-radius: 15px;
    padding: 2px;
    font-size: 13px;
    color: white;
}

